* {
    padding: 0;
    margin: 0;
}

header,.menu-lateral, .conteudo {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

header {
    background-color: rgb(48, 48, 227);
}

header h1 {
    color: white;
    text-align: center;
}

main {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    height: auto;
    justify-content: center;
}

.conteudo {
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 250px;
}

.conteudo-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#search-btn {
    max-width: 400px;
}

#container-by-flags {
    display: none;
}

.container-flag {
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
}

.flag {
    border: 2px solid black;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.container-answers {
    /* margin-top: 20px; */
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-answers span {
    cursor: pointer;
    background-color: rgb(59, 59, 59);
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container-answers .correct {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: greenyellow;
}

.container-answers .wrong {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: red;
}